.result-container {
    border: 1px solid gray;
    overflow: auto;
    border-radius: 4px;
    padding: 10px
}

table, th, td {
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}

th {
    font-weight: bold;
}

.img {
    vertical-align: middle;
    border-style: none;
    margin-left: 70px;
    border-radius: 50%;
}